.Rproj.user
.Rhistory
.RData
.Ruserdata
FPKM_calc
HTSeq-0.6.1p1
Normal_Top2
RNA_count
RNA_normal
RNA_normal_count
RNA_normal_FPKM
STAR_index
STAR-2.7.1a
TCGA_TOP_genes
TCGA_TOP_genes_result
TCGA_values
TOP_count
TOP_FPKM
TOP_normal
TOP_normal_count
TOP_normal_FPKM
TOPv2
.ipynb_checkpoints
gencode.gene.info.v22.tsv
gencode.v22.annotation.gtf
FPKM_test.tsv
ENSG_to_NCBI.tsv
GRCh38.d1.vd1.fa
test_FPKM.tsv
Normal_RNA_values
Normal_TOP_values
Tumor_TOP_values
TCGA_sort
clinical.tsv
files.json
CNN_NCC_200605.ipynb

